{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for ('static' , filename='css/style.css')}}">{% endblock %}

{% block body %}
<form class="form-signin" action="/loginV" method="POST">
    {% with messages = get_flashed_messages() %} <!--Obtener los mensajes en una variable-->
    {% if messages %} <!--Si el mensaje no es nulo-->
    {% for message in messages%} <!--Recorre los mensajes emergentes-->
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong> {{message}} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="h3 mb-3 fw-normal">Veterinaria</h1>

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nombre veterinaria" name="username">
        <label for="floatingInput">Veterinaria</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="Recuerdame"> Recuerdame
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    <label for="floatingInput">No estas registrado?</label>
    <a class="w-100 btn btn-lg btn-primary" href="{{url_for('registroVet')}}">Registrarse</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
</form>
{% endblock %}