{% extends './base2.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Bienvenido , {{ current_user.fullname }}</h1>
<h2>Buscador de empleados</h2>

<p>Esta funcion solo esta disponible para administradores.</p>

<form method="POST" action="/busqueda" style="align-content:space-between">
    <input type="text" class="form-control" placeholder="Busqueda" name="busqueda" aria-label="Busqueda" aria-describedby="basic-addon2">
    <div class="input-group-append">
    <button class="w-100 btn btn-lg btn-info" type="submit">Buscar</button>
    </div>
</form>

<table class="table table-dark table-striped">
    <tr>
        <td>ID</td>
        <td>USUARIO</td>
        <td>FULLNAME</td>
        <td>ROL</td>
    </tr>
    {% for row in encontradas %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-secondary" href="{{url_for('logout')}}">Logout</a>
<a class="btn btn-info" href="{{url_for('admin')}}">Volver</a>
{% endblock %}