{% extends './base.html' %}

{% block title %}Registrar Usuario{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{url_for('static',filename='css/styleregistro.css')}}"> {% endblock %}

{% block body %}
<!-- Formulario -->
<div class="containermm"></div>
<!--FORMULARIO DE METODO POST********************************************* -->
<form action='#' method="post">

        <h1 id="titulo">Registro empleado nuevo</h1>
        <!--ingresar_cedula_usuario-->
        <div class="form-group primer">
                <label for="documento" class="control-label">Documento</label>
                <input class="form-control" name="id" type="text" required>
        </div>
        <!--ingresar_nombre_usuario-->
        <div class="form-group primer">
                <label for="nombre_usuario" class="control-label">Nombre completo</label>
                <input class="form-control" name="fullname" type="text" required>
        </div>
        <!--ingresar_nombre-->
        <div class="form-group segundo">
                <label for="usuario" class="control-label">Usuario</label>
                <input class="form-control" name="username" type="text" required>
        </div>
        <!--ingresar_nombre-->
        <div class="form-group segundo">
                <label for="telefono" class="control-label">Contraseña</label>
                <input class="form-control" name="password" type="password" required>
        </div>
        <!--direccion-->
        <div class="form-group">
                <label for="direccion" class="control-label">Direccion</label>
                <input class="form-control" name="direccion" type="text" required>
        </div>
        <!--email-->
        <div class="form-group">
                <label for="email" class="control-label">Correo electronico </label>
                <input class="form-control" name="email" type="email" required>
        </div>
        <!--telefono-->
        <div class="form-group">
                <label for="email" class="control-label">Telefono</label>
                <input class="form-control" name="telefono" type="number" required>
        </div>

        <label for="email" class="control-label">Seleccione el rol</label>
        <select class="form-select" aria-label="Default select example" name="rol">
                <option value="1">Especialista</option>
                <option value="2">Recepcionista</option>
                <option value="3">Administrador</option>
        </select>

        <!--boton_registro-->
        <div id="boton_reg">
                <br>
                <input type="submit" class="btn btn-info" value="Registrar usuario" /><br>
        </div>
</form>
</div>
</div>
{% endblock %}