body {
    display: flex;
    background-color: beige;
    flex-flow: row nowrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20% 0 20%;
}

.control-label{
    font-size: medium;
}

#titulo {
    color: purple;
}